---
layout: default
---
{% include head.html %}
{% include site_header.html %}
	<section class="page">
		<article class="post">
			<h2>Essay Proposal: The Tower in the Mirror</h2>
			<div class="postcontent">
<p>
In *A Question of Time* (Kent State, 1997), Verlyn Flieger has analyzed with great percpetiveness both the nature of Frodo's dreams and the puzzling position in time of Lothlórien. In her account, Galadriel's mirror, at the heart of Lothlórien, becomes a dream-like instrument for seeing times past and future as well as present. Our essay sets out to complement and deepen Flieger's analysis by inquiring into Emyn Beraid (the Tower Hills) and the nature of the objects kept, at different times, in (or near) the Elf-towers there: the palantír of Elendil (the Seeing-stone by which Elendil could look West over the sundering-sea) and the Red Book, which recorded the events of the war of the Ring and the return of the king. We explore the (subtly different) ways by which each of these three objects - mirror, stone, and book - provide a meeting point of past and future in the present, of dream and waking life, and of Faërie and our Middle-earth.
</p>
<p>
Our essay will be submitted to the collection of [essays in honour of Verlyn Flieger](http://sacnoths.blogspot.co.il/2015/05/verlyn-flieger-festschrit-call-for.html) edited by John D. Rateliff.
</p>
<p>
Mauris hendrerit malesuada lacus sed laoreet. Sed aliquam libero velit, non ultricies elit sagittis sed. Pellentesque vehicula purus nec faucibus mollis. Nunc venenatis ligula eget nisl efficitur pretium. Proin elementum tortor scelerisque volutpat aliquet. Vestibulum euismod nisi sed erat mattis aliquam. Aenean ac varius lectus. Quisque tempor nibh in turpis sagittis, ac congue mauris molestie. Nulla at eros elit. Cras purus erat, consectetur vitae tellus vel, consequat vulputate enim. Morbi sed tincidunt erat. Fusce risus elit, tempor non turpis vel, lacinia semper eros.
</p>
<p>
Suspendisse potenti. Vestibulum ullamcorper purus sed nibh efficitur vulputate. Morbi leo ipsum, tincidunt at pretium eu, dignissim sit amet augue. Aliquam quis mi pharetra, eleifend ipsum eu, porta massa. Phasellus vitae augue elit. Vestibulum pellentesque orci ut suscipit rutrum. Pellentesque vehicula porttitor lorem vel suscipit. Nulla sit amet dignissim sapien, quis molestie diam. Maecenas eget vestibulum leo, sit amet ullamcorper sapien. Donec et lacinia ligula, quis posuere nisl. Proin eu neque turpis. Aliquam lobortis, dolor eget cursus pharetra, nisl neque vehicula nunc, a fermentum massa ipsum nec tellus. Sed imperdiet a lectus nec volutpat. Morbi sit amet nibh et est tincidunt eleifend at a est.
</p>
<p>
Integer imperdiet eros id eros scelerisque mattis. Suspendisse potenti. Nam commodo pharetra arcu, in semper justo faucibus sit amet. Duis blandit dui nec augue faucibus aliquam. Curabitur vitae dolor aliquet, feugiat metus varius, vestibulum mi. Fusce euismod pretium maximus. Suspendisse at velit dapibus, commodo lectus ut, tempus nulla. Morbi malesuada velit ut leo viverra vulputate. Aliquam erat volutpat. Mauris dapibus consectetur rhoncus. Sed accumsan sagittis tempus. Ut mattis vestibulum turpis. Suspendisse faucibus finibus turpis.
</p>
			</div>
		</article>
	</section>
{% include foot.html %}
